header {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: block;
  background-color: var(--light-grey);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-links-desktop {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links-desktop li a, .nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Burger */
.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile Menu */
.nav-links-mobile {
  display: flex;
  position: fixed;
  left: -105%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  width: 100vw;
  height: 100vh;
  list-style: none;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1000;
  transition: left 0.3s ease;
  padding: 2rem;
}

.nav-links-mobile.active {
  left: 0;
}

.nav-links-mobile li a, .nav-link {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

/* Close Button */
.close-btn {
  align-self: flex-end;
  font-size: 28px;
  cursor: pointer;
}

.has-submenu {
  position: relative;
}

.submenu {
  position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    list-style: none;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.submenu li {
  padding: 0.5rem 1rem;
}

.submenu li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
}

.has-submenu:hover .submenu {
   max-height: 200px; 
  opacity: 1;
  visibility: visible;
  padding: 0.5rem 0;
}

/* Mobile submenu */
.has-submenu-mobile {
  display: flex;
  flex-direction: column;

}

.submenu-mobile {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.has-submenu-mobile.active .submenu-mobile {
  max-height: 1000px; 
}

.has-submenu-mobile .bx-caret-right {
  transition: transform 0.3s ease;
}

/* Cuando está abierto */
.has-submenu-mobile.active .bx-caret-right {
  transform: rotate(90deg);
}

.has-submenu-mobile.active .submenu-mobile {
  max-height: 1000px; /* Ajustá si necesitás más o menos */
}

.submenu-mobile li {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.mobile-submenu-link {
  font-size: 18px!important;
}

/* Responsive rules */
@media (max-width: 768px) {

  .header {
    margin-bottom: 40px;
  }

  .logo img {
    width: 180px;
    height: 75px;
  }

  .navbar {
    flex-direction: row-reverse;
  }

  .nav-links-desktop {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 1024px) {

    header {
        padding: 0 5%;
    }

    .nav-links-mobile {
      display: none;
    }

    .nav-links-desktop {
        font-size: 16px;
    }

}

@media (min-width: 1300px) {

    header {
        padding: 0 10%;
    }

    .nav-links-desktop {
        font-size: 18px;
    }

}