<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/models-list.css">
    <link rel="stylesheet" href="/css/models-stock.css">
    <script type="module" src="/scripts/models-stock.js"></script>
</head>

<body>
  <%- include ('partials/header') %>
  <main>
    <div class="loader" id="loader"></div>
    <div class="container">
      <div id="shoe-list" class="shoe-grid"></div>
    </div>
  </main>

   
</body>
</html>