<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/models-list.css">
    <script type="module" src="/scripts/models-list.js"></script>
</head>

<body>
  <%- include ('partials/header') %>
  <main>
    <div class="container">
      <div class="titles-container">
        <h1 class="title">Zapatillas por encargue</h1>
        <h3 class="subtitle">Demora 25-30 días</h3>
      </div>
      <div class="loader" id="loader"></div>
      <div id="shoe-list" class="shoe-grid"></div>
    </div>
  </main>

   <%- include ('partials/footer') %>
</body>
</html>