<footer>
    <p>Copyright © 2025 Store99 Zapatillas de Basquet </p> 
    <p>Tienda Numero 1 en Argentina</p>
    <p>Envíos a todo el país</p>
    <div class="cookies-section">
        <p>Al navegar por este sitio aceptás el uso de cookies para agilizar tu experiencia</p>
    </div>
</footer>