<header>
  <nav class="navbar">
    <div class="logo">
      <img src="/assets/logo.png" alt="">
    </div>

    <!-- Burger Menu Icon (mobile only) -->
    <div class="burger" id="burger">
      <i class='bx bx-menu'></i>
    </div>

     <!-- Menú desplegable mobile -->
    <ul class="nav-links-mobile" id="mobileMenu">
      <li class="close-btn" id="closeBtn"><i class='bx bx-x'></i></li>
      <li><a class="nav-link" href="/stock">Zapatillas en stock</a></li>
      <li><a class="nav-link" href="/encargue">Zapatillas por encargue</a></li>
      <li><a class="nav-link" href="/como-comprar">Cómo comprar</a></li>
      <li><a class="nav-link" href="/quienes-somos">Quiénes somos</a></li>
    </ul>

    <!-- Menú desktop -->
    <ul class="nav-links-desktop">
      <li><a href="/stock">Zapatillas en stock</a></li>
      <li><a href="/encargue">Zapatillas por encargue</a></li>
      <li><a href="/como-comprar">Cómo comprar</a></li>
      <li><a href="/quienes-somos">Quiénes somos</a></li>
    </ul>
  </nav>
</header>